<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(224, 183, 183);">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">TODO Crud</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
          </li>
          <li class="nav-item dropdown">
           <!-- <i class="bi bi-person-circle nav-link dropdown-toggle" style="font-size: 32px;" id="navbarDropdown" role="button" data-bs-toggle="dropdown"></i>-->
            <a class="bi bi-person-circle nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Profile
            </a>
            
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
</nav>

<div class="card text-center test" >
    <h5 class="card-header">Edit Profile</h5>
    <img src="" class="card-img-top" alt="...">
    <div class="m-t5" style="padding: 10px;">
        <input class="form-control form-control-sm" (change)="Onfileselected()" id="formFileSm"  type="file">
    </div>
    <div class="card-body">
        <!--FORM EDIT USER-->
        <form id="editprofileform">
        <!--NAME-->
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="name" placeholder="insert your name">
          <label for="name">Name</label>
        </div>
        <!--<small class="registerformerrormessage" *ngIf="name?.errors?.['required'] && name?.touched">name is
          required</small>
        <small class="registerformerrormessage" *ngIf="name?.errors?.['minlength'] && name?.touched">name should at
          least have one letter</small>-->
        <!--LASTNAME-->
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="lastname" placeholder="insert your lastname"
            >
          <label for="lastname">Lastname</label>
        </div>
        <!--<small class="registerformerrormessage" *ngIf="lastname?.errors?.['minlength'] && lastname?.touched">lastname
          should at least have one letter</small>
        <small class="registerformerrormessage" *ngIf="lastname?.errors?.['required'] && lastname?.touched">lastname is
          required</small>-->
        <!--USERNAME-->
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="username" placeholder="insert your username"
            >
          <label for="username">username</label>
        </div>
        <!--<small class="registerformerrormessage" *ngIf="username?.errors?.['minlength'] && username?.touched">username
          should at least have one letter</small>
        <small class="registerformerrormessage" *ngIf="username?.errors?.['required'] && username?.touched">username is
          required</small>-->
        <!--PASSWORD-->
        <div class="form-floating">
          <input type="password" class="form-control" id="password" placeholder="Password">
          <label for="password">Password</label>
        </div>
        <!--<small class="registerformerrormessage" *ngIf="password?.errors?.['required'] && password?.touched">password is
          required</small>
          <small class="registerformerrormessage" *ngIf="password?.errors?.['passwordcomplexity'] && password?.touched">password doesn't 
          match security criteria  </small>-->
        <!--BIRTHDAY DATE-->
        <div class="form-floating mt-3">
          <input type="date" class="form-control" id="birthday" placeholder="birthday">
          <label for="birthday">birthday</label>
        </div>
        <!--<small class="registerformerrormessage" *ngIf="birthday?.errors?.['required'] && birthday?.touched">birthday is
          required</small>
        <small class="registerformerrormessage"
          *ngIf="birthday?.errors?.['validatedate'] && birthday?.touched">birthdaydate cannot be today</small>-->
          <div>
            <button class="btn btn-primary savebutton" type="button">
              
              Save
            </button>
          </div>
        </form>
    </div>
</div>



<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50 sticky-top">
    <div class="container text-center">
      <small>Copyright&copy; Your Website</small>
    </div>
</footer>
